<div class="container">
    <h1>Сервис маскирования данных</h1>
    <div class="alert alert-info" role="alert">
        Выберите тип маскирования для каждого поля каждой таблицы.
        Если оставить "Оригинальное значение", то поле импортируется без изменений.
    </div>
    <form method="post" action="/api/mask">
        <button type="submit" class="btn btn-default">Маскировать</button>
        <br><br>
        <div id="accordion">
            {{$masks := .masks}}
            {{$graph := .graph}}
            {{ range $index, $table:= .tables }}
            <div class="card">
                <div class="card-header" id="schema_{{$table.TrimmedName}}">
                    <div class="mb-0">
                        <div class="btn btn-link collapsed" data-toggle="collapse"
                             data-target="#collapse_{{$table.TrimmedName}}" aria-expanded="false"
                             aria-controls="collapse_{{$table.TrimmedName}}">
                            {{$table.Name}}
                        </div>
                    </div>
                </div>

                <div id="collapse_{{$table.TrimmedName}}" class="collapse"
                     aria-labelledby="heading_{{$table.TrimmedName}}"
                     data-parent="#accordion">
                    <div class="card-body">
                        {{if not $graph}}
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="text" class="form-control form-control-sm" name="filter.{{$table.Name}}"
                               placeholder="&quot;col1&quot; = true and &quot;col2&quot; = 'text'">
                        <small class="form-text text-muted">Подфильтрация экспортируемых результатов</small>
                        <br>
                        {{end}}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Поле</th>
                                <th scope="col">Комментарий</th>
                                <th scope="col">Маска</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $index, $column:= $table.Columns }}
                            <tr>
                                <th scope="row">{{$index}}</th>
                                <td>{{ $column.Name }}</td>
                                <td>{{if $column.Description }}{{ $column.Description }}{{end}}</td>
                                <td>
                                    <!--suppress HtmlFormInputWithoutLabel -->
                                    <select class="form-control form-control-sm"
                                            name="mask.{{$table.Name}}.{{$column.Name}}">
                                        <option value="">Оригинальное значение</option>
                                        {{ range $maskValue, $mask:= $masks }}
                                        <option value="{{$maskValue}}">{{$mask.Name}}</option>
                                        {{end}}
                                    </select>
                                </td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <br>
        <button type="submit" class="btn btn-default">Маскировать</button>
        <br><br>
        <input type="hidden" name="config" value="{{.config}}">
        <input type="hidden" name="graph" value="{{.graph}}">
    </form>
</div>
