<div class="container">
    <h1>Сервис маскирования данных</h1>
    {{ range $error := .errors }}
    <div class="alert alert-danger" role="alert">{{$error}}</div>
    {{end}}
    <br>
    <a href="/" target="_blank" class="btn btn-primary active" role="button" aria-pressed="true">
        На главную
    </a>
</div>
