<div class="container">
    <h1>Сервис маскирования данных</h1>
    <div class="alert alert-info" role="alert">
        Настройте глубину импорта
    </div>
    <form method="post" action="/api/fields" id="form">
        <input type="hidden" name="graph" id="graph_input">
        <input type="hidden" name="config" value="{{.config}}">
        <button type="submit" class="btn btn-default">Продолжить</button>
        <a href="#" class="btn btn-default" data-graph-button>Посмотреть граф</a>
        <br><br>
        <div id="accordion"></div>
        <br>
        <button type="submit" class="btn btn-default">Продолжить</button>
        <a href="#" class="btn btn-default" data-graph-button>Посмотреть граф</a>
        <br><br>
    </form>
</div>
<div class="modal fade" id="new_fk" tabindex="-1" role="dialog" aria-labelledby="newFkCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFkLongTitle">Добавить виртуальный foreign key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <input type="hidden" name="card-index" value="0">
                    <input type="hidden" name="depth" value="0">
                    <input type="hidden" name="initial_column" value="">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isKey" name="is_key">
                        <label class="form-check-label" for="isKey">Является ключом</label>
                    </div>
                    <div class="form-group">
                        <label for="table">Таблица:</label>
                        <input type="text" class="form-control" id="table" placeholder="public.users" name="table">
                    </div>
                    <div class="form-group">
                        <label for="column">Колонка:</label>
                        <input type="text" class="form-control" id="column" placeholder="id" name="column">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-add-fk-button>Добавить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="graph" tabindex="-2" role="dialog" aria-labelledby="graphCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graphLongTitle">Карта зависимости</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="gl"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="bg"
     style="position: fixed;left: 0;top: 0;z-index: 10;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/graphdracula/1.2.1/dracula.min.js"></script>
<script>
    const props = {
        "db": "{{.props.db}}",
        "table": "{{.table}}"
    }
</script>
<script>
    class TreeElementLink {
        constructor(childId, parentId, foreignKey, parentColumn, childColumn) {
            this.childId = childId
            this.parentId = parentId
            this.foreignKey = foreignKey
            this.parentColumn = parentColumn
            this.childColumn = childColumn
        }

        parentId
        childId
        foreignKey
        parentColumn
        childColumn
    }

    class TreeElement {
        constructor(id, table) {
            this.id = id
            this.table = table
        }

        id
        table
    }

    let data = {
        elements: [],
        links: [],
        tableMap: {},
    }

    $(document).ready(() => {
        let index = 1
        const bg = $("#bg")
        const modal = $("#new_fk")
        const form = modal.find("form")

        function getTable(table, depth, func, linkInfo) {
            data.tableMap[table] = Math.min(data.tableMap[table] ?? 10000, depth)

            bg.show()
            const localIndex = index
            $.get({
                "url": "/api/fk/table?table=" + table + "&db=" + encodeURI(props.db) + "&i=" + index + "&depth=" + depth,
                "success": (html) => {
                    // frontend
                    $("#accordion").append(html)
                    bg.hide()

                    // tree
                    data.elements.push(new TreeElement(localIndex, table))

                    if (localIndex > 1) {
                        data.links.push(new TreeElementLink(
                            localIndex,
                            linkInfo.parentId,
                            linkInfo.foreignKey,
                            linkInfo.parentColumn,
                            linkInfo.childColumn,
                        ))
                    }

                    // callback
                    if (typeof (func) !== "undefined") {
                        func()
                    }

                    modal.modal("hide")
                },
                "error": () => {
                    bg.hide()
                }
            })
            index++
        }

        getTable(props.table, 0)

        $("body").on("click", "[data-fk-table-extender]", (e) => {
            const localIndex = $(e.target).closest("[data-i]").data("i")
            const isKey = ($(e.target).closest('[data-is-key]').data('is-key') === true)
            const localDepth = parseInt($(e.target).closest("[data-depth]").data("depth")) + (isKey ? 1 : -1)

            getTable($(e.target).data("table"), localDepth, () => {
                $(e.target).remove()
            }, {
                parentId: localIndex,
                foreignKey: "",
                parentColumn: $(e.target).data("parent-col"),
                childColumn: $(e.target).data("child-col"),
            })
            return false
        }).on("click", "[data-add-fk-button]", () => {
            const parentColumn = form.find("[name=\"initial_column\"]").val()
            const childColumn = form.find("#column").val()
            const localIndex = form.find("[name=\"card-index\"]").val()
            const isKey = form.find("#isKey").is(":checked")
            const localDepth = parseInt(form.find('[name="depth"]').val()) + (isKey ? 1 : -1)

            getTable(form.find("#table").val(), localDepth, () => {
                let arrow = "<-"
                if (isKey) {
                    arrow = "->"
                }
                const fkListItem = '<div data-fk-list-element="' + parentColumn + '">' + arrow + " " + form.find("#table").val() + " " + childColumn + " </div>"
                $("[data-i=" + localIndex + "] [data-fk-list-column=" + parentColumn + "]").append(fkListItem)
                form[0].reset()
            }, {
                parentId: localIndex,
                foreignKey: "",
                parentColumn: parentColumn,
                childColumn: childColumn,
            })
        }).on("click", "[data-delete-node]", (e) => {
            if (!confirm("удалить со всеми зависимостями?")) {
                return false
            }

            let deepDelete = (index) => {
                data.elements.forEach((el, i) => {
                    if (el.id !== index) {
                        return
                    }

                    delete (data.elements[i])
                })

                data.links.forEach((el2, i2) => {
                    if (el2.parentId !== index && el2.childId !== index) {
                        return
                    }

                    delete (data.links[i2])

                    deepDelete(el2.childId)
                })

                $('[data-i="' + index + '"]').remove()
            }

            const index = parseInt($(e.target).closest('[data-i]').data('i'))

            // определим родительский плюс, чтобы вернуть ему кнопку "+"
            let parentNode = null
            data.links.forEach((el2) => {
                if (el2.childId === index) {
                    parentNode = el2
                }
            })

            if (parentNode !== null) {
                // найдем родительскую таблицу
                let parentTable = null
                data.elements.forEach((el) => {
                    if (el.id === parentNode.parentId) {
                        parentTable = el.table
                    }
                })

                const text = '<a href="#" data-fk-table-extender ' +
                    'data-parent-col="' + parentNode.parentColumn + '" ' +
                    'data-child-col="' + parentNode.childColumn + '" ' +
                    'data-table="' + parentTable + '"' +
                    '>+</a>'

                $('[data-i="' + parentNode.parentId + '"] [data-fk-list-element="' + parentNode.parentColumn + '"]').append(text)
            }

            deepDelete(index)

            return false
        })

        $('#new_fk').on('show.bs.modal', function (event) {
            const i = $(event.relatedTarget).closest("[data-i]").data("i")
            const ic = $(event.relatedTarget).data("col")
            const depth = $(event.relatedTarget).closest("[data-depth]").data("depth")
            $(this).find("[name=\"card-index\"]").val(i)
            $(this).find("[name=\"depth\"]").val(depth)
            $(this).find("[name=\"initial_column\"]").val(ic)
        })

        $("[data-graph-button]").click(() => {
            $("#graph").modal("show")
            $("#gl").children().remove()

            let Graph = Dracula.Graph
            let Renderer = Dracula.Renderer.Raphael
            let Layout = Dracula.Layout.Spring

            let graph = new Graph()

            data.elements.forEach((el) => {
                // noinspection JSUnresolvedFunction
                graph.addNode(el.id, {label: el.table})
            })

            data.links.forEach((el) => {
                // noinspection JSUnresolvedFunction
                graph.addEdge(el.parentId, el.childId, {
                    style: {
                        label: el.parentColumn + ' → ' + el.childColumn
                    }
                })
            })

            // noinspection JSUnusedLocalSymbols
            let layout = new Layout(graph)
            let renderer = new Renderer('#gl', graph, 400, 300)
            renderer.draw()

            return false
        })

        $("#form").on("submit", (e) => {
            $(e.target).find("#graph_input").val(JSON.stringify(data))
        })
    })
</script>

<style>
    #gl svg {
        overflow: visible !important;
    }
</style>
