<div class="container">
    <h1>Сервис маскирования данных</h1>
    <form method="post">
        <h4>Обязательные настройки:</h4>
        <div class="form-group">
            <label for="dbConn">Адрес базы данных:</label>
            <input type="text" class="form-control" id="dbConn"
                   placeholder="postgres://user:pass@host:port/dbname?sslmode=disable" name="db_addr">
        </div>
        <div class="form-group">
            <label for="emailHost">Постфикс для email:</label>
            <input type="text" class="form-control" id="emailHost" placeholder="example.com" name="email_host">
        </div>

        <h4>Выберите действие</h4>
        <hr class="col-xs-12">
        <h5>Маскировать данные</h5>
        <div class="form-group">
            <label for="excludeSchemas">Схемы БД исключения:</label>
            <input type="text" class="form-control" id="excludeSchemas" aria-describedby="excludeSchemasHelp"
                   name="excluded_schemas">
            <small id="excludeSchemasHelp" class="form-text text-muted">Схемы, таблицы которых не будут участвовать в
                конструкторе маскирования. Через запятую.</small>
        </div>
        <button type="submit" class="btn btn-default" formaction="/api/tables">Экспортировать данные</button>

        <hr class="col-xs-12">
        <h5>Экспортировать сущность</h5>
        <div class="form-group">
            <label for="entityTable">Таблица:</label>
            <input type="text" class="form-control" id="entityTable" aria-describedby="entityTableHelp"
                   name="entity_table">
            <small id="entityTableHelp" class="form-text text-muted">Формата schema.table, например: public.users</small>
        </div>

        <button type="submit" class="btn btn-default" formaction="/api/fk">Экспортировать сущность</button>
    </form>
</div>
