<div class="container">
    <h1>Сервис маскирования данных</h1>
    <div class="alert alert-info" role="alert">
        Экспорт данных успешно начат<br><br>
        <a href="/api/file?uuid={{.}}" target="_blank" class="btn btn-primary active" role="button" aria-pressed="true">
            Получить файл
        </a>
        <a href="/api/yaml?uuid={{.}}" target="_blank" class="btn btn-primary active" role="button" aria-pressed="true">
            Скачать конфиг маскирования
        </a>
        <br/>
    </div>
</div>
