<div class="card" data-i="{{.index}}" data-depth="{{.depth}}">
    <div class="card-header" id="schema_{{.table}}">
        <div class="row justify-content-between">
            <div class="btn btn-link collapsed col-4 text-left" data-toggle="collapse"
                 data-target="#collapse_{{.table}}_{{.index}}" aria-expanded="false"
                 aria-controls="collapse_{{.table}}_{{.index}}">
                {{.table}}
            </div>
            {{if gt .index 1 }}
            <div class="col-4 text-right">
                <a href="#" data-delete-node>Удалить ноду</a>
            </div>
            {{end}}
        </div>
    </div>

    <div id="collapse_{{.table}}_{{.index}}" class="collapse"
         aria-labelledby="heading_{{.table}}"
         data-parent="#accordion">
        <div class="card-body">
            <input type="hidden" value="" name="table.{{.table}}">
            {{if eq .index 1 }}
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" class="form-control form-control-sm" name="filter"
                   placeholder="&quot;col1&quot; = true and &quot;col2&quot; = 'text'">
            <small class="form-text text-muted">Подфильтрация экспортируемых результатов</small>
            <br>
            {{end}}

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Поле</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Зависимости</th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $column:= .cols }}
                <tr>
                    <th scope="row">{{$index}}</th>
                    <td>{{ $column.Name }}</td>
                    <td>{{if $column.Description }}{{ $column.Description }}{{end}}</td>
                    <td>
                        <div data-fk-list-column="{{$column.Name}}">{{if $column.Fks }}
                            {{ range $i, $fk := $column.Fks }}
                            <div data-fk-list-element="{{$column.Name}}" data-is-key = "{{$fk.Key}}">
                                {{if $fk.Key}}
                                <-
                                {{else}}
                                ->
                                {{end}}

                                {{$fk.Schema}}.{{$fk.Table}} {{$fk.Column}}
                                <a
                                        href="#"
                                        data-fk-table-extender
                                        data-parent-col="{{$column.Name}}"
                                        data-child-col="{{$fk.Column}}"
                                        data-table="{{$fk.Schema}}.{{$fk.Table}}"
                                >+</a>
                            </div>
                            {{end}}
                            {{end}}
                        </div>

                        <a href="#"
                           data-toggle="modal"
                           data-target="#new_fk"
                           data-col="{{$column.Name}}"
                        >[Добавить]</a>
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
