<div class="container">
    <h1>Сервис маскирования данных</h1>
    <div class="alert alert-info" role="alert">
        Выберите таблицы, которые необходимо импортировать с базы данных. <br>
        В дальнейшем вы сможете маскировать конкретные столбцы этих таблиц, либо импортировать данные без изменений.
    </div>
    <form method="post" action="/api/fields" data-js-form>
        <div class="row justify-content-between">
            <div class="col-4">
                <button type="submit" class="btn btn-default">Продолжить</button>
            </div>
            <div class="col-4">
                <a onclick="return checkAll('on')" href="#">Выбрать все</a>
                /
                <a onclick="return checkAll('off')" href="#">Убрать выделение</a>
            </div>
        </div>
        <br>
        <div id="accordion">
            {{ range $index, $data:= .tables }}
            <div class="card">
                <div class="card-header" id="schema_{{$data.Name}}">
                    <div class="row justify-content-between">
                        <div class="btn btn-link collapsed col-4 text-left" data-toggle="collapse"
                             data-target="#collapse_{{$data.Name}}" aria-expanded="false"
                             aria-controls="collapse_{{$data.Name}}">
                            {{$data.Name}} ({{$data.TableCount}})
                        </div>
                        <div class="col-4">
                            <a onclick="return checkSchema({{$data.Name}}, 'on')" href="#">Выбрать все</a>
                            /
                            <a onclick="return checkSchema({{$data.Name}}, 'off')" href="#">Убрать выделение</a>
                        </div>
                    </div>
                </div>

                <div id="collapse_{{$data.Name}}" class="collapse" aria-labelledby="heading_{{$data.Name}}">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">#</th>
                                <th scope="col">Таблица</th>
                                <th scope="col">Комментарий</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $index, $table:= $data.Tables }}
                            <tr>
                                <th><input data-js-schema="{{$data.Name}}" class="form-check-input" type="checkbox"
                                           value=""
                                           name="table.{{$data.Name}}.{{$table.Name}}"></th>
                                <th scope="row">{{$index}}</th>
                                <td>{{ $table.Name }}</td>
                                <td>{{if $table.Description }}{{ $table.Description }}{{end}}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <br>
        <input type="hidden" name="config" value="{{.config}}">
        <button type="submit" class="btn btn-default">Продолжить</button>
        <br><br>
    </form>
</div>
<script>
    function checkSchema(schema, t) {
        document.querySelectorAll('[data-js-schema="' + schema + '"]').forEach(el => {
            if (t === 'on') {
                el.setAttribute('checked', 'true')
            } else {
                el.removeAttribute('checked')
            }
        })
        return false
    }

    function checkAll(t) {
        document.querySelector('[data-js-form]').querySelectorAll('input[type="checkbox"]').forEach(el => {
            if (t === 'on') {
                el.setAttribute('checked', 'true')
            } else {
                el.removeAttribute('checked')
            }
        })
        return false
    }
</script>
